.search_bar {
    margin-top: 50px;
    margin-bottom: 30px;
}

li:hover {
    background-color: #E0E0E0;
}

.title_list_item {

    text-align: left;

}

.movieList {
    padding-left: 0;
}

.movieList > li {
    border:none;
}

.movieList > li  h5 {
    text-align: left;
}
